/* Dark mode styles */
.root{
  --light-mode-bg: #F4F6FA;
  --dark-mode-bg: #313E51;
--dark-mode-button-bg: #3B4D66;
}
.dark-mode {
  background-color: var(--dark-mode-bg);
  color: rgba(255, 255, 255, 0.87);
}

.dark-mode .quiz-container {
  background-color: var(--dark-mode-bg);
}

.dark-mode button {
  background-color: #3B4D66;
  color: white;
}

/* Light mode styles */
.light-mode {
  background-color: #F4F6FA;
  color: #213547;
}

.light-mode .quiz-container {
  background-color: #ffffff;
}

.light-mode button {
  background-color: #ffffff;
  color: black;
}

